.chat-search{
    width:100%;
    margin-top:12px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
}

.chat-search input{
    width:88%;
    border:0.5px solid transparent;
    outline:none;
    padding:9px 8px;
    border-radius:7px;
    font-size:15px;
    background-color: rgb(58, 61, 88);
    color:white;
}

.chat-search input:focus{
    border-color:rgb(137, 149, 227);
}

.chat-search p{
    color:rgb(205, 211, 255);
    margin-top:10px;
}

.chat-list{
    /* border:1px solid red; */
    width:100%;
    overflow:auto;
    margin-top:8px;
    padding-top:15px;
    padding-bottom:10px;
    /* box-sizing: border-box; */
}

.chat-list__fallback{
    width:100%;
    text-align:center;
    color:white;
    margin-top:2rem;

}

.chat-list ul{
    list-style-type:none;
    padding:0;
    margin:0;
    /* border:1px solid red; */
}

.chat-list ul hr{
    width:80%;
    margin:auto;
    margin-top:7px;
    margin-bottom:7px;
    border-radius:10px;
    height:1.5px;
    border:none;
    background:transparent;
}

.chat-list::-webkit-scrollbar{
    width:1vh;
    height:1vh;
}

.chat-list::-webkit-scrollbar-thumb{
    background-color: rgb(87, 103, 126);
}

.avatars::-webkit-scrollbar-track{
    background-color:transparent;
}

.chat-search__content{
    width:100%;
    margin-bottom: 18px;
    text-align:center;
    color:rgb(223, 229, 255);
    /* border:1px solid red; */
}
